.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}


.modalContent{
    width:500px;
    background-color: #fff;
}

.modalHeader , .modalFooter{
    padding: 10px;
}

.modalTitle{
    margin:0;
}

.modalBody{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}