@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: large;
  font-family: "Nunito";
  background-color:  #f2f2f2;
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  margin : 0 auto;
  max-width: 85vw;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav a{
  font-size: 20px;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

nav .logo {
  margin-right: auto;
  font-size: larger;
}


footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
  color: #777;
  border-top: 1px solid #ddd;
}

.not-found{
  text-align: center;
  /* margin: 0 auto; */
}

.not-found a{
  color: rgb(86, 86, 197);
  text-decoration: underline;
}

.h3Text{
  color : #777;
}