.container {
  display: block;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.text{
  font-size: large;
  color : #777;
}

.btn{
  width: 150px;
  height: 40px;
  color: white;
  background-color: #4979ff;
  border-radius: 5px;
  font-size: large;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto auto;
}
